body{
    .container {
        max-width: 1128px;
        margin: 0 auto;
    
    
    }
    .options{
        .a-z{
            padding: 10px 15px !important   ;
        }
    }
}

.rightBox {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    .cardItem {
        padding: 28px 24px;
        background-color: #F9F9F9;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        .bag {
            width: 218px;
            height: 243px;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .price {
            margin-top: 15px;
        }

        .heart {
            position: absolute;
            height: 32px;
            width: 32px;
            background-color: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 2%;
            left: 90%;
            color: red;
            cursor: pointer;
            .firstHeart{
                display: block;
            }
            .clickedHeart{
                display: none;
            }
        }

        p {
            font-size: 16px;
        }


        h4 {
            color: #F75145;
        }

        p {
            color: #363636;
        }


        .basketBtn {
            // width: 312px;
            // height: 48px;
            padding: 15px 0;
            border-radius: 8px;
            margin-top: 31px;
            transition: all 1s;
            cursor: pointer;
            &:hover{
                background-color: #363636;
                color: white;
            }
        }
    }
}

@media only screen and (max-width: 1077px) {
    .rightBox {
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (max-width: 700px) {
    .rightBox {
        grid-template-columns: 1fr;
    }

}